/* Source: http://www.devlounge.net/design/aligning-images-the-right-way-using-css */
.align-right { float:right; margin: 0 0 15px 15px; }
.align-left { float:left; margin: 0 15px 15px 0; }
/* End Source: */

.center { margin-left:auto;
          margin-right:auto; }

/* Source: http://www.alistapart.com/articles/taminglists/ */
#nav {
    border: 1px solid #00F;
    margin: 2em;
    width: 90%;
    padding: 5px;
    }

#nav li {
    margin-left: 0;
    padding: 3px 15px;
    border-left: 1px solid #000;
    list-style: none;
    display: inline;
    }

#nav li.first {
    margin-left: 0;
    border-left: none;
    list-style: none;
    display: inline;
    }

/* End Source: */

#nav {background-color: white;}

.content {background-color:white; width:80%;}

.divider {display:block; margin:10px; width:200px;}

.white {background-color:white;}
.caption {background-color:white;}

h3 {background-color:white;}

/* Source: http://www.w3.org/Style/Examples/007/indent
* All glory be to the w3! */
p {
    margin-bottom: 3px;  }
p + p {
    text-indent: 1.5em;
    margin-top: 0; }
 /* End Source: */

.padded { margin-top: 5px; margin-bottom:5px; }
.no-indent {text-indent: 0em; }
.indent {text-indent: 1.5em; }

table {margin: 0; padding: 0; border-collapse: collapse;}
tr {margin: 0; padding: 0;}

h2 {background-color: white;}

#test > p {background-color:white;}
